<footer class="ftr">
  <div class="w">
    <div class="ftr__inner">
      <a href="index.html" class="ftr__logo">
        <img src="assets/images/logo/white.png" alt="MAYDAY" />
      </a>
      <div class="ftr__socials">
        <a href="https://www.instagram.com/mayday.grupo" target="_blank" aria-label="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@maydaygrupo" target="_blank" aria-label="TikTok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.youtube.com/@grupo.mayday" target="_blank" aria-label="YouTube">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://open.spotify.com/artist/4QGvQfDsBplLMp5dLpHqQO" target="_blank" aria-label="Spotify">
          <i class="fa-brands fa-spotify"></i>
        </a>
        <a href="https://music.apple.com/us/artist/mayday/6951126" target="_blank" aria-label="Apple Music">
          <i class="fa-brands fa-apple"></i>
        </a>
        <a href="https://lnkfi.re/listentomayday" target="_blank" aria-label="Linkfire">
          <i class="fa-solid fa-link"></i>
        </a>
      </div>
      <div class="ftr__copy">
        Copyright &copy; 2023-2026 <strong>MAYDAY</strong>.<br>
        Criado por <a href="https://makyneta.github.io" target="_blank">Makyneta Unipessoal, Lda.</a>
      </div>
    </div>
  </div>
</footer>